
.text-right{
  text-align: right;
}
.see-more{
  color: #da254e;
  text-decoration: unset;
}
.see-more:hover{
  color: #da254e;
  text-decoration: underline;
}
.bottom-frame{
  text-align: center;
  margin: auto;
  width: 970px;
  height: 50px;
  border: 1px solid #4a4a4a;
  background: #aaaa;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4a4a4a;
  font-size: 26px;
  font-weight: 700;
}