
.text-right{
  text-align: right;
}
.see-more{
  color: #da254e;
  text-decoration: unset;
}
.see-more:hover{
  color: #da254e;
  text-decoration: underline;
}
.bottom-frame{
  text-align: center;
  margin: auto;
  width: 970px;
  height: 50px;
  border: 1px solid #c7c7c7;
  background: #d8d8d8;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #5b5b5b;
  font-size: 26px;
  font-weight: 700;
}